<div class="container">
  <h1>Navigator</h1>

  <div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
      <h5 class="card-title">Menu:</h5>
      <div class="row text-center">
        <div class="col-4">
          <a routerLink="/translator" routerLinkActive="active" type="button" class="btn btn-default">Translator</a>
        </div>
        <div class="col-4">
          <a routerLink="/about" routerLinkActive="active" type="button" class="btn btn-default">About</a>
        </div>
        
      </div>
    </div>
  </div>


